
@{
    ViewData["Title"] = "Game";
}
<style>
    .wrapper {
        background-image: url("./picturs/fon.png");
        background-size: cover;
        width: 100vw;
        height: 100vh;
        padding-top: 20px;
    }

    html, body, .container {
        height: 100% !important;
        min-width: 100% !important;
        max-width: 100% !important;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    .cell {
        width: 100px;
        height: 100px;
        background-color: azure;
    }

    table {
        margin: auto;
    }
</style>
<div class="wrapper">
    <table>
        <tbody>
            <tr>
                <th scope="row">
                    <button class="cell"></button>
                </th>
                <td><button class="cell"></button></td>
                <td><button class="cell"></button></td>
            </tr>
            <tr>
                <th scope="row"><button class="cell"></button></th>
                <td><button class="cell"></button></td>
                <td><button class="cell"></button></td>
            </tr>
            <tr>
                <th scope="row"><button class="cell"></button></th>
                <td><button class="cell"></button></td>
                <td><button class="cell"></button></td>
            </tr>
        </tbody>
    </table>
</div>
<script>
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return typeof sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
            }
        }
        return false;
    };

    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl("/game")
        .build();

    hubConnection.start().then(() => {
        hubConnection.invoke("JoinGame", hubConnection["connection"]["connectionId"], getUrlParameter('id'));
    });
</script>